
.example-container {
    width: 1460px;
    height: 500px;
    margin: 10px;
    border: 1px solid #555;
    align-content: center;
    text-align: center;
    border-color: white;
  }
  
  .mat-sidenav{
      margin: 16px;
      width: 400px;
      border-right: none;
  }
  .contenido{
      margin: 16px;
      margin-left: 42px;
  }