<ul class="nav justify-content-end">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/inicio" aria-current="page" href="#" style="color: #5b476e;">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/rutas" aria-current="page" href="#" style="color: white;">Rutas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/descarga" aria-current="page" style="color: white;">Descarga</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/ayuda" aria-current="page" style="color: white;">Ayuda</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="page" style="color: white;">
              Inicio sesión
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/login">Iniciar sesión</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="/signup">Registrarse</a></li>
            </ul>
          </li>
    </ul>
</ul>

