<div class="contenido">
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <img src="/assets/images/ruta.jpg" class="img-fluid" alt="...">
      </mat-grid-tile>
      <mat-grid-tile>
        <p class="texto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Culpa commodi cupiditate praesentium fuga, officiis ipsum voluptate 
        quae veritatis ratione distinctio dolorem! Architecto laboriosam atque, 
        doloremque repellat in maxime. Alias, tenetur.
        </p>
      </mat-grid-tile>
  
    </mat-grid-list>
  </div>
