<div class="container-md">
  <form class="row g-3">
    <h1 style="text-align: center;">Formulario</h1>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Comentario o descripción del problema</label>
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">Tipo de problema</label>
        <select id="inputState" class="form-select">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="inputNumber" class="form-label">Número de telefono</label>
        <input type="number" class="form-control" id="inputNumber">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
  </form>
</div>

